.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  outline: none;
}

.button-delete {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #ff1100cf;
  color: white;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #0056b3;
}
.input-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.completed {
  background-color: #ace4af; 
  text-decoration: line-through; 
}
